*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* outline:1px solid red; */
}

html, body{
    height:100%;
    width:100%;
    font-family: Helvetica, sans-serif;
}
@font-face{
    font-family: expertise_text;
    src: url(Ovelion_Regular.otf);
}

body header nav{
    margin:20px 20px 20px 20px;
    /* width: 100%; */
    height:80px;
    background-color:rgb(255, 255, 255);
    display:flex;
    justify-content:space-between;
    align-items: center;
    position:sticky;
}

body header nav #logo{
    padding-left: 40px;
    font-size: 15px;
}

body header nav .links {
    display:flex;
    gap:50px;
}

body header nav .links a{
    text-decoration: none;
    color: rgb(39, 37, 37);
    font-size: 15px;
}

body header nav .responsive_buttons{
    display: flex;
    gap:30px;
    margin-right: 40px;
}

body header nav .responsive_buttons button{
    border: 2px solid rgb(14, 107, 245);
    background-color: transparent;
    color:rgb(14, 107, 245);
    padding:10px 20px;
    border-radius: 50px;
    font-size: 15px;
}
body header nav .responsive_buttons button:hover{
    cursor:pointer;
    border: 2px solid transparent;
    background-color:  rgb(14, 107, 245);
    color:white
}
.intro{
    background-color: rgb(243, 243, 243);
    margin:15px 25px 15px 25px;
    padding: 15px 25px 15px 25px;
    border:1px solid transparent;
    border-radius:50px;
    align-items: center;
    justify-items: center;
}

.intro .text{
    grid-area: text;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.intro .text h1{
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top:60px;
   
}

.intro .text h4{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    width: 550px;
    color: rgb(110, 97, 97);
}

.intro .text .responsive_buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 15px;
    padding-bottom: 50px;
}
.intro .text .responsive_buttons button{
    border: 2px solid rgb(14, 107, 245);
    background-color: transparent;
    color:rgb(14, 107, 245);
    padding:15px 25px;
    border-radius: 50px;
    font-size: 18px;
}

.intro .text .responsive_buttons button:hover{
    cursor:pointer;
    border: 2px solid transparent;
    background-color:  rgb(14, 107, 245);
    color:white
}

main .intro .intro_content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1.5fr 1.5fr;
    grid-template-areas:"img1 center_top img2"
                        "img1 center_bottom img2";
}

main .intro .intro_content .intro_img{
    height:450px;
    width:380px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px
}

.intro_content .intro_img img{
    height:100%;
    width:100%;
    object-fit:cover;
    border:1px solid transparent;
    border-radius:25px;
}

.intro #img1{
    grid-area: img1;
}

.intro #img2{
    grid-area: img2;
}

.intro .intro_cards{
    height: 205px;
    width:450px;
    border: 2px solid transparent;
    border-radius:25px;
    gap:8px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.intro #center_top{
    grid-area: center_top;
    margin-top:0px;
    background-color:rgb(14, 107, 245);
}

.intro #center_bottom{
    grid-area: center_bottom;
    margin-top: 0px;
    background-color: rgb(17, 16, 16);
}

.intro_cards #heart{
    height:45px;
    width: 45px;
    padding: 5px;
    margin:7px 0px 0px 20px;
    background-color:rgb(12, 25, 36);
    border:1px solid transparent;
    border-radius: 50%;
    font-size: 30px;
    color: white;
}

.intro_cards h2{
    font-size: 40px;
    font-weight: 500;
    margin:0px 0px 0px 20px;
    color: white;
}

.intro_cards h5{
    font-size: 15px;
    font-weight: 500;
    width:380px;
    margin:0px 0px 0px 20px;
    color: rgb(255, 255, 255);
}

main .expertise{
    background-color:white;
    margin:65px 25px 15px 25px;
    padding: 15px 25px 15px 25px;
    border:1px solid transparent;
    border-radius:50px;
    align-items: center;
    justify-items: center;
}

main .expertise .expertise_button button{
    margin-bottom:20px;
    padding:15px 30px;
    background-color: white;
    border:1px solid black;
    border-radius:50px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}

main .expertise .expertise_text{
    text-align: center;
    margin:40px 40px 80px 40px;
    padding:5px 20px 5px 20px;
    font-family:expertise_text;
}

main .expertise .expertise_text h1{
    font-size: 27px;
    font-weight: 500;
    word-spacing: 1px;
    color:rgb(48, 44, 44)
}

main .expertise .expertise_card_section{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    margin-top:50px;
    margin-bottom: 50px;
}
    
main .expertise .expertise_cards{
    border:1px solid transparent;
    padding:0px 10px 15px 20px;
    height:130px;
    width:250px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

main .expertise .expertise_cards h1{
    font-size: 55px;
    font-weight: 500;
    color:rgb(17, 14, 14);
    text-align: center;
}

main .expertise .expertise_cards h4{
    font-size: 16px;
    font-weight: 500;
    color:rgb(107, 104, 104);
    text-align:center;
    letter-spacing: 1px;
    word-spacing:0.5px;
}

.services{
    /* width:100%; */
    margin:80px 25px 15px 25px;
    padding: 15px 25px 15px 25px;
    border:1px solid transparent;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    display:flex;
    gap:20px;
}

.services .services_text{
    margin:30px 20px 30px 20px;
    width:45%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}
.services .services_text .services_button_top button{
    margin:35px 10px 30px 10px;
    padding:13px 20px;
    background-color: rgb(255, 255, 255);
    border:1px solid black;
    border-radius:50px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

.services .services_text h1{
    font-size: 30px;
    font-weight: 500;
    color:rgb(17, 14, 14);
    margin: 60px 10px 10px 10px;
}
.services .services_text h4{
    font-size: 15px;
    font-weight: 500;
    color:rgb(17, 14, 14);
    margin: 0px 10px 150px 10px;
}
.services .responsive_buttons{
    display: flex;
    gap:30px;
    margin-left: 10px;
}
.services .responsive_buttons button{
    border: 2px solid rgb(14, 107, 245);
    background-color: transparent;
    color:rgb(14, 107, 245);
    padding:10px 20px;
    border-radius: 50px;
    font-size: 15px
}
.services .responsive_buttons button:hover{
    cursor:pointer;
    border: 2px solid transparent;
    background-color:  rgb(14, 107, 245);
    color:white
}

.services_cards{
    display:grid;
    grid-template-columns:290px 290px;
    grid-template-rows:250px 250px;
    grid-template-areas: "card1 card2"
                         "card3 card4";
    gap:30px;
    margin-top:30px;
}
.services_cards .cards{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding:15px 20px 10px 8px;
    border:1px solid transparent;
    border-radius: 25px;
    background-color: rgb(247, 248, 250);
}
.services_cards .cards:hover{
    background-color:rgb(14, 107, 245);
    color:white;
    border:1px solid transparent;
    cursor:pointer;
    h1{
        color:white;
    }
    h4{
        color:white;
    }
    i{
        color: #000;
    }
    .services_cards_icons{
        background-color: white;
    }
}
.services_cards .services_cards_icons{
    display: flex;
    height:50px;
    width:40px;
    align-items: center;
    justify-content: center;
    border:1px solid transparent;
    border-radius: 50%;
    margin: 20px 0px 80px 18px;
    background-color: rgb(230, 248, 250) ;
    /* background-color: rgb(14, 107, 245); */
}
.services_cards .services_cards_icons i{
    font-size: 28px;    
}


.services_cards h1{
    font-size: 20px;
    font-weight: 500;
    color:rgb(17, 14, 14);
    text-align: left;
    margin: 0px 0px 10px 15px;
}
.services_cards h4{
    font-size: 13px;
    font-weight: 500;
    color:rgb(17, 14, 14);
    text-align: left;
    margin: 0px 0px 20px 15px;
}

.services_cards #card1{
    grid-area: card1;
}
.services_cards #card2{
    grid-area: card2;
}
.services_cards #card3{
    grid-area: card3;
}
.services_cards #card4{
    grid-area: card4;
}



.portfolio{
    margin:60px 25px 15px 25px;
    padding: 25px 25px 15px 25px;
    background-color:  rgb(243, 243, 243);
    /* border:1px solid black; */
    border-radius: 25px;
    
}
.portfolio .portfolio_text{
    display: flex;
    justify-content: space-between;
}

.portfolio .portfolio_text .portfolio_button button{
    margin:30px 15px 30px 20px;
    padding:15px 25px;
    border:1px solid black;
    border-radius:50px;
    background-color:transparent;
    letter-spacing: 1px;
    font-size:16px;
}
.portfolio .portfolio_text h1{
    width:75%;
    margin:55px 0px 35px 20px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #242323;
}

.portfolio .portfolio_text .responsive_buttons button{
    margin: 180px 60px 20px 115px;
    border: 2px solid rgb(14, 107, 245);
    background-color: transparent;
    color:rgb(14, 107, 245);
    padding:15px 25px;
    border-radius: 50px;
    font-size: 18px
}
.portfolio .portfolio_text .responsive_buttons button:hover{
    cursor:pointer;
    border: 2px solid transparent;
    background-color:  rgb(14, 107, 245);
    color:white
}

.portfolio .portfolio_content{
    display:flex;
    margin:70px 0px 50px 0px;
    flex-direction: column;
    gap:100px;
}
.portfolio .portfolio_content .portfolio_content_text{
    display:flex;
    flex-direction: column;
    flex:1;
}
.portfolio .portfolio_content h1{
    margin:75px 0px 10px 35px;
    font-size: 35px;
    font-weight: 500;
    color: #242323;
}
.portfolio .portfolio_content h4{
    margin:0px 0px 15px 35px;
    font-size: 14px;
    color:rgb(92, 89, 89);
    font-weight: 500;
}
.portfolio .portfolio_content .portfolio_content_buttons{
    display: flex;
    margin:0px 0px 25px 35px;
    gap:25px;
}
.portfolio .portfolio_content .portfolio_content_buttons button{
    padding:5px 10px;
    border:1px solid black;
    border-radius: 50px;
}
.portfolio .portfolio_content .responsive_buttons{
    display: flex;
}
.portfolio .portfolio_content .portfolio_content_text .responsive_buttons button{
    margin: 70px 0px 30px 35px;
    border: 2px solid rgb(14, 107, 245);
    background-color: transparent;
    color:rgb(14, 107, 245);
    padding:10px 20px;
    border-radius: 50px;
    font-size: 15px
}
.portfolio .portfolio_content .portfolio_content_text .responsive_buttons button:hover{
    cursor:pointer;
    border: 2px solid transparent;
    background-color:  rgb(14, 107, 245);
    color:white
}

.portfolio_content .first_portfolio{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:40px;
}

.portfolio_content .portfolio_content_img{
    flex:1;
    height:330px;
    width:400px;
    margin: 20px 40px 30px 30px;
}

.portfolio_content .portfolio_content_img img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 30px;
    /* align-items: center; */
}

